body{
    font-family: Arial, sans-serif;
    background: #fa6161;
    background: linear-gradient(90deg,rgb(0, 217, 255) 0%, rgb(137, 225, 255) 35%, rgb(199, 230, 255) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.card{
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    width: 350px;
    box-shadow: 0px 0px 35px 11px rgba(0,0,0,0.53);
    display: flex;
    flex-direction: column;
    gap: 10px;

    
}
input[type="date"]{
    width: 85%;
    font-size: 16px;
    border-radius: 20px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    text-align: center;
    
}

button{
    margin-top: 15px;
    background-color: rgb(83, 248, 248);
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
button:hover{
    box-shadow: 0px 0px 15px 1px rgba(94, 130, 146, 0.53);
    background-color: #d0ffe8;
    color: white;
    transform: scale(1.1);
    
}

.inputs{
    position: relative;
    width: 100%;
}
a{
    text-decoration: none;
}
a:hover{
    color: #4b4b4b;
    text-decoration:double;
}